<section class="section is-small">
  <article class="message is-warning container">
    <div class="message-header">
      <p class="title">Attention : Ce FS de démonstration va être arrêté le 31 mars 2025</p>
    </div>
    <div class="message-body subtitle">
      <p><strong>Ce fournisseur de service de démonstration est remplacé par un nouveau fournisseur de service
          "fsp1-legacy".</strong></p>
      <p>Vous pouvez continuer à tester la plateforme FranceConnect v1, en utilisant l'url ci-dessous&nbsp;:</p>
      <p><a rel="noreferrer noopener" href="https://fsp1-legacy.integ01.fcp.fournisseur-de-service.fr/login">
          https://fsp1-legacy.integ01.fcp.fournisseur-de-service.fr</a>
      </p>
      <br />
      <p>Nous vous remercions de mettre à jour vos tests automatisés.</p>
      <br />
      <p>L'équipe FranceConnect</p>
    </div>
  </article>
</section>