<footer class="footer custom-content">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/france-connect/service-provider-example"
               alt="lien vers le dépot de code">
                <strong>Code source du démonstrateur de fournisseur de service</strong>
            </a>
        </p>
        <p>
            <a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service"
               alt="lien vers la documentation FranceConnect">
                <strong>Documentation FranceConnect Partenaires</strong>
            </a>
        </p>
    </div>
</footer>
<!-- This script brings the FranceConnect tools modal which enable "disconnect", "see connection history" and "see FC FAQ" features -->
<script src="<%= locals.franceConnectKitUrl %>"></script>
