<footer class="footer custom-content">
  <div class="content has-text-centered">
    <p>
      <a href="https://github.com/france-connect/identity-provider-example/blob/master/database.csv">
        Modifier les comptes tests
      </a>
    </p>
    <p>
      <a href="https://github.com/france-connect/data-provider-example/blob/master/database.csv">
        Modifier les données associées aux comptes tests
      </a>
    </p>
    <p>
      <a href="https://github.com/france-connect/service-provider-example">
        Voir le code source de cette page
      </a>
    </p>
    <hr>
    <p>
      <a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service">
        Documentation générale de FranceConnect
      </a>
    </p>
  </div>
</footer>
<!-- This script brings the FranceConnect tools modal which enable "disconnect", "see connection history" and "see FC FAQ" features -->
<script src="<%= locals.franceConnectKitUrl %>"></script>
