<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="section is-medium">
    <div class="container">
        <h1 class="title">Voici les données que nous avons récupérées pour vous avec FranceConnect</h1>
        <pre>
            <code class="json">
<%- data %>
            </code>
        </pre>
        <p class="has-text-centered">
            <a href="https://github.com/france-connect/data-provider-example/blob/master/database.csv">
                Voir les données disponibles
            </a>
        </p>
    </div>
</section>
<% include ../includes/footer.ejs %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
