<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>

<section class="hero is-info is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Bienvenue sur le démonstrateur de fournisseur de service
            </h1>
        </div>
    </div>
</section>

<% if (!locals.accessToken && !locals.idToken) { %>
    <section class="section is-small">
        <div class="container">
            <h2 class="title is-2">Connectez-vous avec FranceConnect</h2>
            <br />
            <h3 class="subtitle is-3">
                Cliquez sur "se connecter" en haut à droite de la page pour tester la connexion via FranceConnect.
            </h3>
        </div>
    </section>
<% } else { %>
    <section class="section is-small">
        <div class="container">
            <p class="has-text-centered">
                <a
                        href="<%= locals.debugRoute %>""
                        class="button is-info is-medium is-hovered"
                >Afficher les données récupérées grâce à France Connect
                </a>
            </p>
        </div>
    </section>
<% } %>

<section class="has-background-light section is-small">
    <div class="container has-text-centered ">
        <h1 class="title is-1">Ou</h1>
    </div>
</section>

<section class="section is-small">
    <div class="container">
        <h2 class="title is-2">Récupérez vos données via une API FranceConnectée</h2>
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">1</p>
                            <p class="subtitle">Cliquez sur le bouton ci-dessous</p>
                            <div class="has-text-centered content">
                                <!-- FC btn -->
                                <a href="/data">
                                    <img src="img/FCboutons-data.svg" alt="">
                                </a>
                                <p style="margin-top: 2em;">
                                    <a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service">
                                        Documentation générale de FranceConnect
                                    </a>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">2</p>
                            <p class="subtitle">Sélectionnez le compte "Démonstration"</p>
                            <div class="has-text-centered content">
                                <figure class="image">
                                    <img src="/img/identity-provider-button.jpg">
                                </figure>
                                <p style="margin-top: 2em;">
                                    <a href="https://github.com/france-connect/identity-provider-example">
                                        Voir le code source du fournisseur d'identité "Démonstration"
                                    </a>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">3</p>
                            <p class="subtitle">Renseignez les identifiants de test</p>
                            <div class="has-text-centered content">
                                <figure class="image">
                                    <img src="/img/test-credentials.jpg">
                                </figure>
                                <p style="margin-top: 2em;">
                                    <a href="https://github.com/france-connect/identity-provider-example/blob/master/database.csv">
                                        Voir les identifiants de test disponibles
                                    </a>
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script src="/js/home.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
