<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="custom-content">
    <div class="container has-text-centered">
        <!-- FC btn -->
        <a href="/login">
            <img src="img/FCboutons-10.png" alt="">
        </a>
    </div>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
