<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="container custom-content">
    <h4>Merci de votre visite.</h4>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
