<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<style>
  /* Hack of Bulma CSS lib */
  .column{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  .box{
    margin-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .checkbox{
    width: 100%;
  }
</style>
<body>
  <% include ../includes/header.ejs %>
  <% include ../includes/error.ejs %>
  <section class="section is-medium">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Connexion</h3>
        <div class="box">
          <form action="/login-authorize" method="post">
            <div class="field">
              <label class="label">
                Niveau eIDAS
                <span class="has-text-info tooltip is-tooltip-multiline"
                  data-tooltip="Vous pouvez dès à présent tester les identités de niveau faible (eidas1), substantiel (eidas2) et fort (eidas3) sur l'environnement de qualification. En production, vous n'aurez cependant accès pour l'instant qu'à des identités de niveau faible (eidas1).">
                  (info)
                </span>
              </label>
              <div class="select">
                <select name="eidasLevel">
                  <option value="eidas1">Défaut : Faible (eidas1)</option>
                  <option value="eidas2">Substantiel (eidas2)</option>
                  <option value="eidas3">Fort (eidas3)</option>
                </select>
              </div>
            </div>

            <div class="field">
              <label class="label">
                Scopes
                <span class="has-text-info tooltip is-tooltip-multiline"
                  data-tooltip="Vous pouvez régler les scopes voulues pour la procédure">
                  (info)
                </span>
              </label>
              <div class="block">
                <div class="select">
                  <div class="control">
                    <select id="scope_menu"  value="profile">
                      <option value="profile">Défaut : Profile</option>
                      <option value="identity">Identité Pivot</option>
                      <option value="birth">Naissance</option>
                      <option value="all">Tous</option>
                      <option value="anonymous">Anonyme</option>
                      <option value="none">Aucun</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="columns is-variable is-multiline">
                <% locals.scopes.forEach(scope => { %>
                  <div class="column is-half has-text-left">
                    <label class="checkbox box is-size-6 is-italic">
                      <input name="scope_<%= scope %>" type="checkbox" aria-label="<%= scope %>" checked>
                      <%= scope %>
                    </label>
                  </div>
                <% }); %>
              </div>
              <script type="text/javascript">
                const PREFIX = 'scope_';
                
                const scopesInputs = document.querySelectorAll(`input[name^="${PREFIX}"]`);
                const all = Array.from(scopesInputs).map(({name}) => name.split(PREFIX).pop());

                const GROUP_SCOPES = {
                  all,
                  profile: [
                    'openid',
                    'given_name',
                    'family_name',
                    'preferred_username',
                    'birthdate',
                    'gender',
                  ],
                  identity: [
                    'openid',
                    'given_name',
                    'family_name',
                    'preferred_username',
                    'birthdate',
                    'gender',
                    'birthplace',
                    'birthcountry',
                  ],
                  birth: ['openid', 'birthplace', 'birthcountry'],
                  anonymous: ['openid'],
                  none: [],
                };
                
                const scopesSelect = value => {
                  const scopes = GROUP_SCOPES[value];
                  scopesInputs.forEach(input => {
                    const scope = input.name.split(PREFIX).pop();
                    input.checked = scopes.includes(scope);
                  });
                };

                const select = document.querySelector('#scope_menu');
                scopesSelect(select.value);
                select.addEventListener('change', event => {
                  scopesSelect(event.target.value);
                });
              </script>
            </div>
            
            <!-- FC btn -->
            <div data-role="login-authorize" class="field">
              <input type="image" src="img/FCboutons-10.png" alt="Soumettre" />
            </div>
          </form>

          <h3>OU</h3>
          <div class="field"
            title="Votre service doit proposer une alternative à la connexion avec FranceConnect. Cette alternative doit permettre l’accès, dans des conditions analogues, à la même prestation de service public.">
            <div class="control">
              <input class="input is-medium" type="email" placeholder="Adresse email" disabled>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="email" placeholder="Mot de passe" disabled>
            </div>
          </div>
          <button class="button is-block is-info is-medium is-fullwidth" disabled>Login</button>
        </div>
      </div>
    </div>
  </section>
  <% include ../includes/footer.ejs %>
</body>

</html>
