<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>

<body>
  <% include ../includes/header.ejs %>
  <% include ../includes/error.ejs %>
  <section class="section is-medium">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Connexion</h3>
        <div class="box">
          <form action="/login-authorize" method="post">
            <div class="field">
              <label class="label">
                Niveau eIDAS
                <span class="has-text-info tooltip is-tooltip-multiline"
                  data-tooltip="Vous pouvez dès à présent tester les identités de niveau faible (eidas1), substantiel (eidas2) et fort (eidas3) sur l'environnement de qualification. En production, vous n'aurez cependant accès pour l'instant qu'à des identités de niveau faible (eidas1).">
                  (info)
                </span>
              </label>
              <div class="select">
                <select name="eidasLevel">
                  <option value="eidas1">Défaut : Faible (eidas1)</option>
                  <option value="eidas2">Substantiel (eidas2)</option>
                  <option value="eidas3">Fort (eidas3)</option>
                </select>
              </div>
            </div>
            <!-- FC btn -->
            <div data-role="login-authorize" class="field">
              <input type="image" src="img/FCboutons-10.png" alt="Soumettre" />
            </div>
          </form>

          <h3>OU</h3>
          <div class="field"
            title="Votre service doit proposer une alternative à la connexion avec FranceConnect. Cette alternative doit permettre l’accès, dans des conditions analogues, à la même prestation de service public.">
            <div class="control">
              <input class="input is-medium" type="email" placeholder="Adresse email" disabled>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="email" placeholder="Mot de passe" disabled>
            </div>
          </div>
          <button class="button is-block is-info is-medium is-fullwidth" disabled>Login</button>
        </div>
      </div>
    </div>
  </section>
  <% include ../includes/footer.ejs %>
</body>

</html>
